---
import MainHead from "./MainHead.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />
  </head>  
  <body>
    <slot>Default Text</slot>
  </body>
</html>
